.btn {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  padding: var(--xl) var(--2xl);
  border: 1px solid var(--brand-tonique);
  color: var(--gray-800);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--sm);
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: inset 0 0 0 var(--sm) var(--brand-tonique);
  }
}
