<div class="carousel">
  <picture class="carousel__item">
    <img src="/src/assets/photos/agenda-musique-08.jpg" alt="desc" />
  </picture>
  <picture class="carousel__item">
    <img src="/src/assets/photos/agenda-musique-03.jpg" alt="desc" />
  </picture>
  <picture class="carousel__item">
    <img src="/src/assets/photos/agenda-musique-04.jpg" alt="desc" />
  </picture>
  <picture class="carousel__item">
    <img src="/src/assets/photos/agenda-musique-05.jpg" alt="desc" />
  </picture>
  <picture class="carousel__item">
    <img src="/src/assets/photos/agenda-musique-06.jpg" alt="desc" />
  </picture>
  <picture class="carousel__item">
    <img src="/src/assets/photos/agenda-musique-07.jpg" alt="desc" />
  </picture>
</div>