<div class="hero grid">
  <div class="hero__header">
    <h1 class="hero__title">{{title}}</h1>
  </div>
  <div class="hero__chapo">
    <p class="hero__text">{{chapo}}</p>
  </div>
  <picture class="hero__img duotone">
    <img src="/src/assets/photos/{{imgName}}" alt="{{imgAlt}}" />
  </picture>
</div>